@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  /* responsive header */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(220%);
  }
  .searchBtn {
    right: 0;
  }
  .closeBtn {
    left: 0;
  }
  .menuToggle {
    position: absolute;
    display: block;
    font-size: 2em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  header .navigation {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  header.open .navigation {
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: calc(100vh - 80px);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  header.open .navigation li a {
    top: 10px;
  }
  .hide {
    display: none;
  }
  header .User {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  header.open .User {
    left: 0;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    top: 290px;
  }
  header.open .User .but {
    flex-direction: column;
    margin-left: 10px;
  }
  header .icons {
    transform: translateX(190%);
    margin-top: 3px;
  }
  .banner {
    margin-top: 60px;
    height: auto;
  }
  /* Responsive card product */
  .section_index-1,
  .section_index-2 {
    margin: 0;
    padding: 0;
  }
  section .section_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 15px;
  }
  .section_index-2 .section_cards-index2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 15px;
  }
  section .section_card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }
  .section_index-2 .section_card-index2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }
  .title-container h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .section_category {
    margin: 0;
    padding: 10px 20px 0px 10px;
  }
  .category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .category-card {
    height: 100%;
    width: 100%;
  }
  .category-image img {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    border: 1px solid #ddd;
    transition: 0.5s ease;
  }
  .category-card-title {
    position: absolute;
    margin: 100px 0px 10px 12px;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
  }
  .layout-container {
    margin: 0;
    padding: 30px 20px 0px;
  }
  .layout-container h1 {
    font-size: 25px;
  }
  .layout_container-cards {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    align-items: stretch;
  }
  .layout_container-card .layout_container-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f1f1f1;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  .layout_container-card .layout_container-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
  }
  .layout_container-cards .layout_container-card span {
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    user-select: none;
  }
  .footer {
    position: relative;
    margin-top: 650px;
    color: #fff;
  }
  .footer__items {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    align-items: center;
  }
  .footer__item-1 {
    padding: 0 20px;
  }
  .footer__item-1 .footer__item-1-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer__item-1 .footer__item-1-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .footer__item-1 .footer__item-1-header h3 {
    font-size: 22px;
  }
  .footer__item-1 ul li {
    margin: 5px 0px 15px;
    list-style: none;
    line-height: 23px;
    color: #ccc;
  }
  .footer__item-2 {
    margin-left: 20px;
  }
  .footer__item-2 h3 {
    font-size: 22px;
  }
  .footer__item-2 ul li {
    margin-top: 10px;
    list-style: none;
    color: #ccc;
  }
  .footer__item-3 {
    margin-left: 20px;
  }
  .footer__item-3 h3 {
    font-size: 22px;
  }
  .footer__item-3 ul li {
    margin-top: 10px;
    list-style: none;
    color: #ccc;
  }
  .footer__item-4 {
    margin-left: 20px;
  }
  .footer__item-4 h3 {
    font-size: 22px;
  }
  .footer__item-4 ul li {
    margin-top: 10px;
    list-style: none;
    color: #ccc;
  }
}
